/Практика (ООП)/build/
/PR_2/build/
/PR_2/nbproject/private/
/PR_1/1/build/
/PR_1/1/nbproject/private/
/PR_1/2/build/
/PR_1/2/nbproject/private/
/PR_1/3/build/
/PR_1/3/nbproject/private/
/PR_3/build/
/PR_4/nbproject/private/
/PR_4/build/
/PR_4/dist/